<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>113332096-69komjkvq7iorevlrp4edn7tsm9ojgfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113332096-69komjkvq7iorevlrp4edn7tsm9ojgfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ_5ItKfQkxES1Q_xYQzbTNUpt4rpwFZI</string>
	<key>GCM_SENDER_ID</key>
	<string>113332096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outrunhalf.shophalf</string>
	<key>PROJECT_ID</key>
	<string>x-rain-231104</string>
	<key>STORAGE_BUCKET</key>
	<string>x-rain-231104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113332096:ios:c7515e30c38d02b0</string>
	<key>DATABASE_URL</key>
	<string>https://x-rain-231104.firebaseio.com</string>
</dict>
</plist>